/* Sidebar styles */
.sidebar {
  width: 260px;
  transition: width 0.3s ease;
}

/* Content styles */
.main-content {
  margin-left: 260px;
  transition: margin-left 0.3s ease;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 0;
    position: absolute;
    transition: width 0.3s ease;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
    transition: margin-left 0.3s ease;
  }

  .sidebar.close {
    width: 0;
  }

  .main-content.expanded {
    margin-left: 260px;
  }
}
